@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');


.image {
	height: 80px;
	width: auto;
	margin-left: 20px;
	margin-top: 20px;
}

/*reset style*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*background*/
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	/*background: url(https://static.pexels.com/photos/26206/pexels-photo.jpg) no-repeat 50% 50%;*/
	display: table;
	top: 0;
	background-size: cover;
}

/*background*/
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

/*text style*/
.content h1 {
	font-family:'vcrOsdMono','VT323';
	src: url(./vcr_osd_mono_1.001.ttf);
	color: #ababaf;
	font-size: 120%;
	padding: 5%;
}

/*button style*/
.butn {
	border-radius: 9px;
	font-family:'vcrOsdMono','VT323';
	src: url(./vcr_osd_mono_1.001.ttf);
	color: #ababaf;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #ababaf 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn {
	font-family: 'vcrOsdMono','VT323';

}



/*color hover style*/
.butn:hover {
	color: #ff8019;
	border: solid #ff8019 3px;
}

/*MEDIA QUERIES*****************************/


/*DESKTOP RESPONSIVE*/
@media (max-width: 768px) {
	.content h1 {
			font-size: 100%;
	}
	.btn {
		font-size: 20px;
		/*padding: 7px 15px;*/
	}
}

/*IPHONE 6 PLUS*/
/*@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px){
	.content h1 {
			font-size: 30px;
			padding: 80px;
	}
    .btn {
		font-size: 40px;
		padding: 60px 130px;

	}
}*/

/*
IPHONE 6*/
/*@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px){
	.content h1 {
			font-size: 30px;
			padding: 80px;
	}
    .btn {
		font-size: 40px;
		padding: 60px 130px;
	}
}
*/
/*IPHONE 5*/
/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px){
	.content h1 {
			font-size: 30px;
			padding: 80px;
	}
    .btn {
		font-size: 40px;
		padding: 60px 130px;
	}
}*/

/*IPAD*/
/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	.content h1 {
			font-size: 30px;
			padding: 80px;
	}
    .btn {
		font-size: 40px;
		padding: 50px 110px;
	}
}*/
/*
footer code**********************/
.footer {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	font-family:'vcrOsdMono','VT323';
	src: url(./vcr_osd_mono_1.001.ttf);
	font-size: 10px;
	color: #ababaf;
	padding: 20px;
}

.media:hover {
/*	color: #757575;*/
	color: #ff8019;
}

a, u {
    text-decoration: none;
    color: #ababaf;
}

